.donateContainer {
    display: flex;
    flex-direction: row;
}

.darkSideBar {
    background-color: black;
    min-width: 10vw;
}

.donateFormMainBar {
    margin-left: 1rem;
    min-width: 40vw;
}